<div style="max-width: 566px;" class="metaslider metaslider-coin metaslider-92 ml-slider">

    <div id="metaslider_container_92">
        <div id='metaslider_92' class='coin-slider'>
<a href="javascript:void(0)"><img src="/img/carousel-v1/accueil/4015-566x425.jpg" height="425" width="566" alt="" class="slider-92 slide-183" style="display: none;" /></a>
<a href="javascript:void(0)"><img src="/img/carousel-v1/accueil/4014-566x425.jpg" height="425" width="566" alt="" class="slider-92 slide-182" style="display: none;" /></a>
<a href="javascript:void(0)"><img src="/img/carousel-v1/accueil/4012-566x425.jpg" height="425" width="566" alt="" class="slider-92 slide-181" style="display: none;" /></a>
<a href="javascript:void(0)"><img src="/img/carousel-v1/accueil/4011-566x425.jpg" height="425" width="566" alt="" class="slider-92 slide-180" style="display: none;" /></a>
<a href="javascript:void(0)"><img src="/img/carousel-v1/accueil/4010-566x425.jpg" height="425" width="566" alt="" class="slider-92 slide-179" style="display: none;" /></a>
<a href="javascript:void(0)"><img src="/img/carousel-v1/accueil/4009-566x425.jpg" height="425" width="566" alt="" class="slider-92 slide-178" style="display: none;" /></a>
<a href="javascript:void(0)"><img src="/img/carousel-v1/accueil/4008-566x425.jpg" height="425" width="566" alt="" class="slider-92 slide-177" style="display: none;" /></a>
<a href="javascript:void(0)"><img src="/img/carousel-v1/accueil/4007-566x425.jpg" height="425" width="566" alt="" class="slider-92 slide-176" style="display: none;" /></a>
<a href="javascript:void(0)"><img src="/img/carousel-v1/accueil/4006-566x425.jpg" height="425" width="566" alt="" class="slider-92 slide-175" style="display: none;" /></a>
<a href="javascript:void(0)"><img src="/img/carousel-v1/accueil/4005-566x425.jpg" height="425" width="566" alt="" class="slider-92 slide-174" style="display: none;" /></a>
<a href="javascript:void(0)"><img src="/img/carousel-v1/accueil/4004-566x425.jpg" height="425" width="566" alt="" class="slider-92 slide-173" style="display: none;" /></a>
<a href="javascript:void(0)"><img src="/img/carousel-v1/accueil/4003-566x425.jpg" height="425" width="566" alt="" class="slider-92 slide-172" style="display: none;" /></a>
<a href="javascript:void(0)"><img src="/img/carousel-v1/accueil/4002-566x425.jpg" height="425" width="566" alt="" class="slider-92 slide-171" style="display: none;" /></a>
<a href="javascript:void(0)"><img src="/img/carousel-v1/accueil/4001-566x425.jpg" height="425" width="566" alt="" class="slider-92 slide-170" style="display: none;" /></a>
<a href="javascript:void(0)"><img src="/img/carousel-v1/accueil/4000-566x425.jpg" height="425" width="566" alt="" class="slider-92 slide-169" style="display: none;" /></a>
<a href="javascript:void(0)"><img src="/img/carousel-v1/accueil/2040-566x425.jpg" height="425" width="566" alt="" class="slider-92 slide-147" style="display: none;" /></a>
<a href="javascript:void(0)"><img src="/img/carousel-v1/accueil/2039-566x425.jpg" height="425" width="566" alt="" class="slider-92 slide-146" style="display: none;" /></a>
<a href="javascript:void(0)"><img src="/img/carousel-v1/accueil/2038-566x425.jpg" height="425" width="566" alt="" class="slider-92 slide-145" style="display: none;" /></a>
<a href="javascript:void(0)"><img src="/img/carousel-v1/accueil/2037-566x425.jpg" height="425" width="566" alt="" class="slider-92 slide-144" style="display: none;" /></a>
<a href="javascript:void(0)"><img src="/img/carousel-v1/accueil/2036-566x425.jpg" height="425" width="566" alt="" class="slider-92 slide-143" style="display: none;" /></a>
<a href="javascript:void(0)"><img src="/img/carousel-v1/accueil/2035-566x425.jpg" height="425" width="566" alt="" class="slider-92 slide-142" style="display: none;" /></a>
<a href="javascript:void(0)"><img src="/img/carousel-v1/accueil/2034-566x425.jpg" height="425" width="566" alt="" class="slider-92 slide-141" style="display: none;" /></a>
<a href="javascript:void(0)"><img src="/img/carousel-v1/accueil/2033-566x425.jpg" height="425" width="566" alt="" class="slider-92 slide-140" style="display: none;" /></a>
<a href="javascript:void(0)"><img src="/img/carousel-v1/accueil/2032-566x425.jpg" height="425" width="566" alt="" class="slider-92 slide-139" style="display: none;" /></a>
<a href="javascript:void(0)"><img src="/img/carousel-v1/accueil/2031-566x425.jpg" height="425" width="566" alt="" class="slider-92 slide-138" style="display: none;" /></a>
<a href="javascript:void(0)"><img src="/img/carousel-v1/accueil/2030-566x425.jpg" height="425" width="566" alt="" class="slider-92 slide-137" style="display: none;" /></a>
<a href="javascript:void(0)"><img src="/img/carousel-v1/accueil/2029-566x425.jpg" height="425" width="566" alt="" class="slider-92 slide-136" style="display: none;" /></a>
<a href="javascript:void(0)"><img src="/img/carousel-v1/accueil/2028-566x425.jpg" height="425" width="566" alt="" class="slider-92 slide-135" style="display: none;" /></a>
<a href="javascript:void(0)"><img src="/img/carousel-v1/accueil/2027-566x425.jpg" height="425" width="566" alt="" class="slider-92 slide-134" style="display: none;" /></a>
<a href="javascript:void(0)"><img src="/img/carousel-v1/accueil/2026-566x425.jpg" height="425" width="566" alt="" class="slider-92 slide-133" style="display: none;" /></a>
<a href="javascript:void(0)"><img src="/img/carousel-v1/accueil/2025-566x425.jpg" height="425" width="566" alt="" class="slider-92 slide-132" style="display: none;" /></a>
<a href="javascript:void(0)"><img src="/img/carousel-v1/accueil/2024-566x425.jpg" height="425" width="566" alt="" class="slider-92 slide-131" style="display: none;" /></a>
<a href="javascript:void(0)"><img src="/img/carousel-v1/accueil/2023-566x425.jpg" height="425" width="566" alt="" class="slider-92 slide-130" style="display: none;" /></a>
<a href="javascript:void(0)"><img src="/img/carousel-v1/accueil/2022-566x425.jpg" height="425" width="566" alt="" class="slider-92 slide-129" style="display: none;" /></a>
<a href="javascript:void(0)"><img src="/img/carousel-v1/accueil/2021-566x425.jpg" height="425" width="566" alt="" class="slider-92 slide-128" style="display: none;" /></a>
<a href="javascript:void(0)"><img src="/img/carousel-v1/accueil/2020-566x425.jpg" height="425" width="566" alt="" class="slider-92 slide-127" style="display: none;" /></a>
<a href="javascript:void(0)"><img src="/img/carousel-v1/accueil/2019-566x425.jpg" height="425" width="566" alt="" class="slider-92 slide-126" style="display: none;" /></a>
<a href="javascript:void(0)"><img src="/img/carousel-v1/accueil/2018-566x425.jpg" height="425" width="566" alt="" class="slider-92 slide-125" style="display: none;" /></a>
<a href="javascript:void(0)"><img src="/img/carousel-v1/accueil/2017-566x425.jpg" height="425" width="566" alt="" class="slider-92 slide-124" style="display: none;" /></a>
<a href="javascript:void(0)"><img src="/img/carousel-v1/accueil/2016-566x425.jpg" height="425" width="566" alt="" class="slider-92 slide-123" style="display: none;" /></a>
<a href="javascript:void(0)"><img src="/img/carousel-v1/accueil/2013-566x425.jpg" height="425" width="566" alt="" class="slider-92 slide-122" style="display: none;" /></a>
<a href="javascript:void(0)"><img src="/img/carousel-v1/accueil/2012-566x425.jpg" height="425" width="566" alt="" class="slider-92 slide-121" style="display: none;" /></a>
<a href="javascript:void(0)"><img src="/img/carousel-v1/accueil/2011-566x425.jpg" height="425" width="566" alt="" class="slider-92 slide-120" style="display: none;" /></a>
<a href="javascript:void(0)"><img src="/img/carousel-v1/accueil/2010-566x425.jpg" height="425" width="566" alt="" class="slider-92 slide-119" style="display: none;" /></a>
<a href="javascript:void(0)"><img src="/img/carousel-v1/accueil/2009-566x425.jpg" height="425" width="566" alt="" class="slider-92 slide-118" style="display: none;" /></a>
<a href="javascript:void(0)"><img src="/img/carousel-v1/accueil/2008-566x425.jpg" height="425" width="566" alt="" class="slider-92 slide-117" style="display: none;" /></a>
<a href="javascript:void(0)"><img src="/img/carousel-v1/accueil/2007-566x425.jpg" height="425" width="566" alt="" class="slider-92 slide-116" style="display: none;" /></a>
<a href="javascript:void(0)"><img src="/img/carousel-v1/accueil/2005-566x425.jpg" height="425" width="566" alt="" class="slider-92 slide-115" style="display: none;" /></a>
<a href="javascript:void(0)"><img src="/img/carousel-v1/accueil/2004-538x404.jpg" height="425" width="566" alt="" class="slider-92 slide-114" style="display: none;" /></a>
<a href="javascript:void(0)"><img src="/img/carousel-v1/accueil/2003-566x425.jpg" height="425" width="566" alt="" class="slider-92 slide-113" style="display: none;" /></a>
<a href="javascript:void(0)"><img src="/img/carousel-v1/accueil/2002-566x425.jpg" height="425" width="566" alt="" class="slider-92 slide-112" style="display: none;" /></a>
<a href="javascript:void(0)"><img src="/img/carousel-v1/accueil/2001-394x296.jpg" height="425" width="566" alt="" class="slider-92 slide-111" style="display: none;" /></a>
<a href="javascript:void(0)"><img src="/img/carousel-v1/accueil/1009-566x425.jpg" height="425" width="566" alt="" class="slider-92 slide-110" style="display: none;" /></a>
<a href="javascript:void(0)"><img src="/img/carousel-v1/accueil/1007-566x425.jpg" height="425" width="566" alt="" class="slider-92 slide-109" style="display: none;" /></a>
<a href="javascript:void(0)"><img src="/img/carousel-v1/accueil/1006-566x425.jpg" height="425" width="566" alt="" class="slider-92 slide-108" style="display: none;" /></a>
<a href="javascript:void(0)"><img src="/img/carousel-v1/accueil/1005-566x425.jpg" height="425" width="566" alt="" class="slider-92 slide-107" style="display: none;" /></a>
<a href="javascript:void(0)"><img src="/img/carousel-v1/accueil/1004-566x425.jpg" height="425" width="566" alt="" class="slider-92 slide-106" style="display: none;" /></a>
<a href="javascript:void(0)"><img src="/img/carousel-v1/accueil/1003-566x425.jpg" height="425" width="566" alt="" class="slider-92 slide-105" style="display: none;" /></a>
<a href="javascript:void(0)"><img src="/img/carousel-v1/accueil/0015-566x425.jpg" height="425" width="566" alt="" class="slider-92 slide-103" style="display: none;" /></a>
<a href="javascript:void(0)"><img src="/img/carousel-v1/accueil/0016-566x425.jpg" height="425" width="566" alt="" class="slider-92 slide-104" style="display: none;" /></a>
<a href="javascript:void(0)"><img src="/img/carousel-v1/accueil/0014-566x425.jpg" height="425" width="566" alt="" class="slider-92 slide-102" style="display: none;" /></a>
<a href="javascript:void(0)"><img src="/img/carousel-v1/accueil/0013-566x425.jpg" height="425" width="566" alt="" class="slider-92 slide-101" style="display: none;" /></a>
<a href="javascript:void(0)"><img src="/img/carousel-v1/accueil/0012-566x425.jpg" height="425" width="566" alt="" class="slider-92 slide-100" style="display: none;" /></a>
<a href="javascript:void(0)"><img src="/img/carousel-v1/accueil/0008-566x425.jpg" height="425" width="566" alt="" class="slider-92 slide-99" style="display: none;" /></a>
<a href="javascript:void(0)"><img src="/img/carousel-v1/accueil/0007-566x425.jpg" height="425" width="566" alt="" class="slider-92 slide-98" style="display: none;" /></a>
<a href="javascript:void(0)"><img src="/img/carousel-v1/accueil/0006-566x425.jpg" height="425" width="566" alt="" class="slider-92 slide-97" style="display: none;" /></a>
<a href="javascript:void(0)"><img src="/img/carousel-v1/accueil/0004-566x425.jpg" height="425" width="566" alt="" class="slider-92 slide-96" style="display: none;" /></a>
<a href="javascript:void(0)"><img src="/img/carousel-v1/accueil/0003-566x425.jpg" height="425" width="566" alt="" class="slider-92 slide-95" style="display: none;" /></a>
<a href="javascript:void(0)"><img src="/img/carousel-v1/accueil/0002-566x425.jpg" height="425" width="566" alt="" class="slider-92 slide-94" style="display: none;" /></a>
<a href="javascript:void(0)"><img src="/img/carousel-v1/accueil/0001-566x425.jpg" height="425" width="566" alt="" class="slider-92 slide-93" style="display: none;" /></a>
<a href="javascript:void(0)"><img src="/img/carousel-v1/accueil/IMG_5007-566x425.jpg" height="425" width="566" alt="" class="slider-92 slide-222" style="display: none;" /></a>
<a href="javascript:void(0)"><img src="/img/carousel-v1/accueil/photo1.jpg" height="425" width="566" alt="" class="slider-92 slide-224" style="display: none;" /></a>
        </div>

    </div>
    <script type="text/javascript">
        var metaslider_92 = function($) {
            $('#metaslider_92').coinslider({
                width:566,
                height:425,
                spw:7,
                sph:5,
                delay:3000,
                sDelay:30,
                opacity:"0",
                titleSpeed:500,
                animation:"random",
                showNavigationButtons:false,
                showNavigationPrevNext:true,
                hoverPause:true,
                prevText:"&lt;",
                nextText:"&gt;"
            });
        };
        var timer_metaslider_92 = function() {
            var slider = !window.jQuery ? window.setTimeout(timer_metaslider_92, 100) : !jQuery.isReady ? window.setTimeout(timer_metaslider_92, 1) : metaslider_92(window.jQuery);
        };
        timer_metaslider_92();
    </script>
</div>