		</div><!-- #content -->
	</div><!-- #primary -->


		</div><!-- #main -->
		<footer id="colophon" class="site-footer" role="contentinfo">
{{ partial "googleads.html" . }}
			<div class="site-info">
				<p>Webmaster: <a href="mailto:nicolas.jeanmonod@bluewin.ch">• Nicolas Jeanmonod •</a></p>
				<!--  -->
				<!-- <a href="http://wordpress.org/" title="Plate-forme de publication personnelle à la pointe de la sémantique">Fièrement propulsé par WordPress</a> -->
			</div><!-- .site-info -->
		</footer><!-- #colophon -->
	</div><!-- #page -->


<!-- Background Manager Start -->
<div id="myatu_bgm_img_group" class="myatu_bgm_fs" style="overflow: hidden;"><script type="text/javascript">
    /*<![CDATA[*/
        try{(function(a){myatu_bgm.addTopImage("-moz-opacity:.77;filter:alpha(opacity=77);opacity:.77;",function(){if((typeof myatu_bgm!=="undefined")&&(myatu_bgm.initial_ease_in==="true")){a(this).fadeIn("slow")}else{a(this).show()}})}(jQuery))}catch(e){};
    /*]]>*/
    </script><noscript><img id="myatu_bgm_top" class="myatu_bgm_fs" src="/img/logo_pousada_landscape.jpg" alt="" style="-moz-opacity:.77; filter:alpha(opacity=77); opacity:.77;"  /></noscript></div>
<!-- Background Manager End -->
<link rel='stylesheet' id='metaslider-coin-slider-css'  href='/css/coin-slider-styles.css' type='text/css' media='all' property='stylesheet' />
<link rel='stylesheet' id='metaslider-public-css'  href='/css/public.css' type='text/css' media='all' property='stylesheet' />
<script type='text/javascript' src='/js/functions.js'></script>
<script type='text/javascript' src='/js/coin-slider.min.js'></script>
</body>
</html>