<div id="address" class="address">
<b>Pousada <i>Jardim dos Anjos</i></b><br>
Avda. Belem Qd. 16 Lot 01, Bairro Lindo Horizonte<br>
Abadiânia , Goias, Brasil, CEP 72940-000<br>
+55 62 3343 1793<br>
Skype: pousadajardimdosanjos3<br>
Email: <a href="mailto:jardimdosanjos@yahoo.com.br">jardimdosanjos@yahoo.com.br</a><br>
<a href="http://pousadajardimdosanjos.com/">pousadajardimdosanjos.com</a><br>
Google Maps :&nbsp;<a href="http://goo.gl/maps/aAvzR">http://goo.gl/maps/aAvzR</a><br>
GPS :&nbsp;-16.18704°,-48.71°
</div>
