<div style="max-width: 566px;" class="metaslider metaslider-coin metaslider-186 ml-slider">

    <div id="metaslider_container_186">
        <div id='metaslider_186' class='coin-slider'>
<a href="javascript:void(0)"><img src="/img/carousel-v1/maison-a-louer/3018-566x425.jpg" height="425" width="566" alt="" class="slider-186 slide-168" style="display: none;" /></a>
<a href="javascript:void(0)"><img src="/img/carousel-v1/maison-a-louer/3017-566x425.jpg" height="425" width="566" alt="" class="slider-186 slide-167" style="display: none;" /></a>
<a href="javascript:void(0)"><img src="/img/carousel-v1/maison-a-louer/3016-566x425.jpg" height="425" width="566" alt="" class="slider-186 slide-166" style="display: none;" /></a>
<a href="javascript:void(0)"><img src="/img/carousel-v1/maison-a-louer/3015-566x425.jpg" height="425" width="566" alt="" class="slider-186 slide-165" style="display: none;" /></a>
<a href="javascript:void(0)"><img src="/img/carousel-v1/maison-a-louer/3014-566x425.jpg" height="425" width="566" alt="" class="slider-186 slide-164" style="display: none;" /></a>
<a href="javascript:void(0)"><img src="/img/carousel-v1/maison-a-louer/3013-566x425.jpg" height="425" width="566" alt="" class="slider-186 slide-163" style="display: none;" /></a>
<a href="javascript:void(0)"><img src="/img/carousel-v1/maison-a-louer/3012-566x425.jpg" height="425" width="566" alt="" class="slider-186 slide-162" style="display: none;" /></a>
<a href="javascript:void(0)"><img src="/img/carousel-v1/maison-a-louer/3011-566x425.jpg" height="425" width="566" alt="" class="slider-186 slide-161" style="display: none;" /></a>
<a href="javascript:void(0)"><img src="/img/carousel-v1/maison-a-louer/3010-566x425.jpg" height="425" width="566" alt="" class="slider-186 slide-160" style="display: none;" /></a>
<a href="javascript:void(0)"><img src="/img/carousel-v1/maison-a-louer/3009-566x425.jpg" height="425" width="566" alt="" class="slider-186 slide-159" style="display: none;" /></a>
<a href="javascript:void(0)"><img src="/img/carousel-v1/maison-a-louer/3008-566x425.jpg" height="425" width="566" alt="" class="slider-186 slide-158" style="display: none;" /></a>
<a href="javascript:void(0)"><img src="/img/carousel-v1/maison-a-louer/3007-566x425.jpg" height="425" width="566" alt="" class="slider-186 slide-157" style="display: none;" /></a>
<a href="javascript:void(0)"><img src="/img/carousel-v1/maison-a-louer/3006-566x425.jpg" height="425" width="566" alt="" class="slider-186 slide-156" style="display: none;" /></a>
<a href="javascript:void(0)"><img src="/img/carousel-v1/maison-a-louer/3005-566x425.jpg" height="425" width="566" alt="" class="slider-186 slide-155" style="display: none;" /></a>
<a href="javascript:void(0)"><img src="/img/carousel-v1/maison-a-louer/3004-566x425.jpg" height="425" width="566" alt="" class="slider-186 slide-154" style="display: none;" /></a>
<a href="javascript:void(0)"><img src="/img/carousel-v1/maison-a-louer/3003-566x425.jpg" height="425" width="566" alt="" class="slider-186 slide-153" style="display: none;" /></a>
<a href="javascript:void(0)"><img src="/img/carousel-v1/maison-a-louer/3002-566x425.jpg" height="425" width="566" alt="" class="slider-186 slide-152" style="display: none;" /></a>
<a href="javascript:void(0)"><img src="/img/carousel-v1/maison-a-louer/3001-566x425.jpg" height="425" width="566" alt="" class="slider-186 slide-151" style="display: none;" /></a>
<a href="javascript:void(0)"><img src="/img/carousel-v1/maison-a-louer/3000-566x425.jpg" height="425" width="566" alt="" class="slider-186 slide-150" style="display: none;" /></a>
        </div>

    </div>
    <script type="text/javascript">
        var metaslider_186 = function($) {
            $('#metaslider_186').coinslider({
                width:566,
                height:425,
                spw:7,
                sph:5,
                delay:3000,
                sDelay:30,
                opacity:"0.7",
                titleSpeed:500,
                animation:"random",
                showNavigationButtons:false,
                showNavigationPrevNext:true,
                hoverPause:true,
                prevText:"&lt;",
                nextText:"&gt;"
            });
        };
        var timer_metaslider_186 = function() {
            var slider = !window.jQuery ? window.setTimeout(timer_metaslider_186, 100) : !jQuery.isReady ? window.setTimeout(timer_metaslider_186, 1) : metaslider_186(window.jQuery);
        };
        timer_metaslider_186();
    </script>
</div>