<div style="max-width: 566px;" class="metaslider metaslider-coin metaslider-2003 ml-slider">

    <div id="metaslider_container_2003">
        <div id='metaslider_2003' class='coin-slider'>
<a href="javascript:void(0)"><img src="/img/carousel-v2/chambres-standards-I/chambres-standards-I_chambre-01-s-516.jpg" height="425" width="566" alt="" class="slider-2003 slide-256" style="display: none;" /></a>
<a href="javascript:void(0)"><img src="/img/carousel-v2/chambres-standards-I/chambres-standards-I_chambre-01-s-517.jpg" height="425" width="566" alt="" class="slider-2003 slide-256" style="display: none;" /></a>
<a href="javascript:void(0)"><img src="/img/carousel-v2/chambres-standards-I/chambres-standards-I_chambre-06-s-520.jpg" height="425" width="566" alt="" class="slider-2003 slide-256" style="display: none;" /></a>
<a href="javascript:void(0)"><img src="/img/carousel-v2/chambres-standards-I/chambres-standards-I_chambre-08-s-524.jpg" height="425" width="566" alt="" class="slider-2003 slide-256" style="display: none;" /></a>
<a href="javascript:void(0)"><img src="/img/carousel-v2/chambres-standards-I/chambres-standards-I_chambre-08-s-525.jpg" height="425" width="566" alt="" class="slider-2003 slide-256" style="display: none;" /></a>
<a href="javascript:void(0)"><img src="/img/carousel-v2/chambres-standards-I/chambres-standards-I_chambre-08-s-528.jpg" height="425" width="566" alt="" class="slider-2003 slide-256" style="display: none;" /></a>
<a href="javascript:void(0)"><img src="/img/carousel-v2/chambres-standards-I/chambres-standards-I_chambre-08-s-529.jpg" height="425" width="566" alt="" class="slider-2003 slide-256" style="display: none;" /></a>
        </div>

    </div>
    <script type="text/javascript">
        var metaslider_2003 = function($) {
            $('#metaslider_2003').coinslider({
                width:566,
                height:425,
                spw:7,
                sph:5,
                delay:3000,
                sDelay:30,
                opacity:"0",
                titleSpeed:500,
                animation:"random",
                showNavigationButtons:false,
                showNavigationPrevNext:true,
                hoverPause:true,
                prevText:"&lt;",
                nextText:"&gt;"
            });
        };
        var timer_metaslider_2003 = function() {
            var slider = !window.jQuery ? window.setTimeout(timer_metaslider_2003, 100) : !jQuery.isReady ? window.setTimeout(timer_metaslider_2003, 1) : metaslider_2003(window.jQuery);
        };
        timer_metaslider_2003();
    </script>
</div>