<div style="max-width: 566px;" class="metaslider metaslider-coin metaslider-2002 ml-slider">

    <div id="metaslider_container_2002">
        <div id='metaslider_2002' class='coin-slider'>
<a href="javascript:void(0)"><img src="/img/carousel-v2/chambres-deluxes-II/chambres-deluxes-II_chambre-203-s-503.jpg" height="425" width="566" alt="" class="slider-2002 slide-256" style="display: none;" /></a>
<a href="javascript:void(0)"><img src="/img/carousel-v2/chambres-deluxes-II/chambres-deluxes-II_chambre-203-s-504.jpg" height="425" width="566" alt="" class="slider-2002 slide-256" style="display: none;" /></a>
<a href="javascript:void(0)"><img src="/img/carousel-v2/chambres-deluxes-II/chambres-deluxes-II_chambre-203-s-505.jpg" height="425" width="566" alt="" class="slider-2002 slide-256" style="display: none;" /></a>
<a href="javascript:void(0)"><img src="/img/carousel-v2/chambres-deluxes-II/chambres-deluxes-II_chambre-203-s-506.jpg" height="425" width="566" alt="" class="slider-2002 slide-256" style="display: none;" /></a>
<a href="javascript:void(0)"><img src="/img/carousel-v2/chambres-deluxes-II/chambres-deluxes-II_chambre-203-s-507.jpg" height="425" width="566" alt="" class="slider-2002 slide-256" style="display: none;" /></a>
<a href="javascript:void(0)"><img src="/img/carousel-v2/chambres-deluxes-II/chambres-deluxes-II_chambre-203-s-508.jpg" height="425" width="566" alt="" class="slider-2002 slide-256" style="display: none;" /></a>
<a href="javascript:void(0)"><img src="/img/carousel-v2/chambres-deluxes-II/chambres-deluxes-II_chambre-204-s-490.jpg" height="425" width="566" alt="" class="slider-2002 slide-256" style="display: none;" /></a>
<a href="javascript:void(0)"><img src="/img/carousel-v2/chambres-deluxes-II/chambres-deluxes-II_chambre-204-s-493.jpg" height="425" width="566" alt="" class="slider-2002 slide-256" style="display: none;" /></a>
<a href="javascript:void(0)"><img src="/img/carousel-v2/chambres-deluxes-II/chambres-deluxes-II_chambre-204-s-495.jpg" height="425" width="566" alt="" class="slider-2002 slide-256" style="display: none;" /></a>
<a href="javascript:void(0)"><img src="/img/carousel-v2/chambres-deluxes-II/chambres-deluxes-II_chambre-204-s-496.jpg" height="425" width="566" alt="" class="slider-2002 slide-256" style="display: none;" /></a>
<a href="javascript:void(0)"><img src="/img/carousel-v2/chambres-deluxes-II/chambres-deluxes-II_chambre-204-s-497.jpg" height="425" width="566" alt="" class="slider-2002 slide-256" style="display: none;" /></a>
<a href="javascript:void(0)"><img src="/img/carousel-v2/chambres-deluxes-II/chambres-deluxes-II_chambre-204-s-498.jpg" height="425" width="566" alt="" class="slider-2002 slide-256" style="display: none;" /></a>
<a href="javascript:void(0)"><img src="/img/carousel-v2/chambres-deluxes-II/chambres-deluxes-II_chambre-204-s-501.jpg" height="425" width="566" alt="" class="slider-2002 slide-256" style="display: none;" /></a>
<a href="javascript:void(0)"><img src="/img/carousel-v2/chambres-deluxes-II/chambres-deluxes-II_chambre-204-s-502.jpg" height="425" width="566" alt="" class="slider-2002 slide-256" style="display: none;" /></a>
        </div>

    </div>
    <script type="text/javascript">
        var metaslider_2002 = function($) {
            $('#metaslider_2002').coinslider({
                width:566,
                height:425,
                spw:7,
                sph:5,
                delay:3000,
                sDelay:30,
                opacity:"0",
                titleSpeed:500,
                animation:"random",
                showNavigationButtons:false,
                showNavigationPrevNext:true,
                hoverPause:true,
                prevText:"&lt;",
                nextText:"&gt;"
            });
        };
        var timer_metaslider_2002 = function() {
            var slider = !window.jQuery ? window.setTimeout(timer_metaslider_2002, 100) : !jQuery.isReady ? window.setTimeout(timer_metaslider_2002, 1) : metaslider_2002(window.jQuery);
        };
        timer_metaslider_2002();
    </script>
</div>