<div style="max-width: 566px;" class="metaslider metaslider-coin metaslider-2007 ml-slider">

    <div id="metaslider_container_2007">
        <div id='metaslider_2007' class='coin-slider'>
<a href="javascript:void(0)"><img src="/img/carousel-v2/restaurant/restaurant_restaurant-s-182.jpg" height="425" width="566" alt="" class="slider-2007 slide-256" style="display: none;" /></a>
<a href="javascript:void(0)"><img src="/img/carousel-v2/restaurant/restaurant_restaurant-s-224.jpg" height="425" width="566" alt="" class="slider-2007 slide-257" style="display: none;" /></a>
<a href="javascript:void(0)"><img src="/img/carousel-v2/restaurant/restaurant_restaurant-s-225.jpg" height="425" width="566" alt="" class="slider-2007 slide-258" style="display: none;" /></a>
<a href="javascript:void(0)"><img src="/img/carousel-v2/restaurant/restaurant_restaurant-s-226.jpg" height="425" width="566" alt="" class="slider-2007 slide-259" style="display: none;" /></a>
<a href="javascript:void(0)"><img src="/img/carousel-v2/restaurant/restaurant_restaurant-s-227.jpg" height="425" width="566" alt="" class="slider-2007 slide-260" style="display: none;" /></a>
<a href="javascript:void(0)"><img src="/img/carousel-v2/restaurant/restaurant_restaurant-s-228.jpg" height="425" width="566" alt="" class="slider-2007 slide-261" style="display: none;" /></a>
        </div>

    </div>
    <script type="text/javascript">
        var metaslider_2007 = function($) {
            $('#metaslider_2007').coinslider({
                width:566,
                height:425,
                spw:7,
                sph:5,
                delay:3000,
                sDelay:30,
                opacity:"0",
                titleSpeed:500,
                animation:"random",
                showNavigationButtons:false,
                showNavigationPrevNext:true,
                hoverPause:true,
                prevText:"&lt;",
                nextText:"&gt;"
            });
        };
        var timer_metaslider_2007 = function() {
            var slider = !window.jQuery ? window.setTimeout(timer_metaslider_2007, 100) : !jQuery.isReady ? window.setTimeout(timer_metaslider_2007, 1) : metaslider_2007(window.jQuery);
        };
        timer_metaslider_2007();
    </script>
</div>