<div style="max-width: 566px;" class="metaslider metaslider-coin metaslider-264 ml-slider">

    <div id="metaslider_container_264">
        <div id='metaslider_264' class='coin-slider'>
<a href="javascript:void(0)"><img src="/img/carousel-v1/jardins/jardins_001-566x425.jpg" height="425" width="566" alt="" class="slider-264 slide-265" style="display: none;" /></a>
<a href="javascript:void(0)"><img src="/img/carousel-v1/jardins/jardins_002-566x425.jpg" height="425" width="566" alt="" class="slider-264 slide-266" style="display: none;" /></a>
<a href="javascript:void(0)"><img src="/img/carousel-v1/jardins/jardins_003-566x425.jpg" height="425" width="566" alt="" class="slider-264 slide-267" style="display: none;" /></a>
<a href="javascript:void(0)"><img src="/img/carousel-v1/jardins/jardins_004-566x425.jpg" height="425" width="566" alt="" class="slider-264 slide-268" style="display: none;" /></a>
<a href="javascript:void(0)"><img src="/img/carousel-v1/jardins/jardins_005-566x425.jpg" height="425" width="566" alt="" class="slider-264 slide-269" style="display: none;" /></a>
<a href="javascript:void(0)"><img src="/img/carousel-v1/jardins/jardins_006-566x425.jpg" height="425" width="566" alt="" class="slider-264 slide-270" style="display: none;" /></a>
<a href="javascript:void(0)"><img src="/img/carousel-v1/jardins/jardins_007-566x425.jpg" height="425" width="566" alt="" class="slider-264 slide-271" style="display: none;" /></a>
<a href="javascript:void(0)"><img src="/img/carousel-v1/jardins/jardins_008-566x425.jpg" height="425" width="566" alt="" class="slider-264 slide-272" style="display: none;" /></a>
<a href="javascript:void(0)"><img src="/img/carousel-v1/jardins/jardins_009-566x425.jpg" height="425" width="566" alt="" class="slider-264 slide-273" style="display: none;" /></a>
<a href="javascript:void(0)"><img src="/img/carousel-v1/jardins/jardins_010-566x425.jpg" height="425" width="566" alt="" class="slider-264 slide-274" style="display: none;" /></a>
<a href="javascript:void(0)"><img src="/img/carousel-v1/jardins/jardins_011-566x425.jpg" height="425" width="566" alt="" class="slider-264 slide-275" style="display: none;" /></a>
<a href="javascript:void(0)"><img src="/img/carousel-v1/jardins/jardins_012-566x425.jpg" height="425" width="566" alt="" class="slider-264 slide-276" style="display: none;" /></a>
<a href="javascript:void(0)"><img src="/img/carousel-v1/jardins/jardins_014-566x425.jpg" height="425" width="566" alt="" class="slider-264 slide-277" style="display: none;" /></a>
<a href="javascript:void(0)"><img src="/img/carousel-v1/jardins/jardins_015-566x425.jpg" height="425" width="566" alt="" class="slider-264 slide-278" style="display: none;" /></a>
<a href="javascript:void(0)"><img src="/img/carousel-v1/jardins/jardins_013-566x425.jpg" height="425" width="566" alt="" class="slider-264 slide-280" style="display: none;" /></a>
        </div>

    </div>
    <script type="text/javascript">
        var metaslider_264 = function($) {
            $('#metaslider_264').coinslider({
                width:566,
                height:425,
                spw:7,
                sph:5,
                delay:3000,
                sDelay:30,
                opacity:"0",
                titleSpeed:500,
                animation:"random",
                showNavigationButtons:false,
                showNavigationPrevNext:true,
                hoverPause:true,
                prevText:"&lt;",
                nextText:"&gt;"
            });
        };
        var timer_metaslider_264 = function() {
            var slider = !window.jQuery ? window.setTimeout(timer_metaslider_264, 100) : !jQuery.isReady ? window.setTimeout(timer_metaslider_264, 1) : metaslider_264(window.jQuery);
        };
        timer_metaslider_264();
    </script>
</div>
