<div style="max-width: 566px;" class="metaslider metaslider-coin metaslider-233 ml-slider">

    <div id="metaslider_container_233">
        <div id='metaslider_233' class='coin-slider'>
<a href="javascript:void(0)"><img src="/img/carousel-v1/chambres-deluxes/chambres_deluxes_001-566x425.jpg" height="425" width="566" alt="" class="slider-233 slide-234" style="display: none;" /></a>
<a href="javascript:void(0)"><img src="/img/carousel-v1/chambres-deluxes/chambres_deluxes_002-566x425.jpg" height="425" width="566" alt="" class="slider-233 slide-235" style="display: none;" /></a>
<a href="javascript:void(0)"><img src="/img/carousel-v1/chambres-deluxes/chambres_deluxes_013-566x425.jpg" height="425" width="566" alt="" class="slider-233 slide-246" style="display: none;" /></a>
<a href="javascript:void(0)"><img src="/img/carousel-v1/chambres-deluxes/chambres_deluxes_012-566x425.jpg" height="425" width="566" alt="" class="slider-233 slide-245" style="display: none;" /></a>
<a href="javascript:void(0)"><img src="/img/carousel-v1/chambres-deluxes/chambres_deluxes_011-566x425.jpg" height="425" width="566" alt="" class="slider-233 slide-244" style="display: none;" /></a>
<a href="javascript:void(0)"><img src="/img/carousel-v1/chambres-deluxes/chambres_deluxes_010-566x425.jpg" height="425" width="566" alt="" class="slider-233 slide-243" style="display: none;" /></a>
<a href="javascript:void(0)"><img src="/img/carousel-v1/chambres-deluxes/chambres_deluxes_009-566x425.jpg" height="425" width="566" alt="" class="slider-233 slide-242" style="display: none;" /></a>
<a href="javascript:void(0)"><img src="/img/carousel-v1/chambres-deluxes/chambres_deluxes_008-566x425.jpg" height="425" width="566" alt="" class="slider-233 slide-241" style="display: none;" /></a>
<a href="javascript:void(0)"><img src="/img/carousel-v1/chambres-deluxes/chambres_deluxes_007-566x425.jpg" height="425" width="566" alt="" class="slider-233 slide-240" style="display: none;" /></a>
<a href="javascript:void(0)"><img src="/img/carousel-v1/chambres-deluxes/chambres_deluxes_006-566x425.jpg" height="425" width="566" alt="" class="slider-233 slide-239" style="display: none;" /></a>
<a href="javascript:void(0)"><img src="/img/carousel-v1/chambres-deluxes/chambres_deluxes_005-566x425.jpg" height="425" width="566" alt="" class="slider-233 slide-238" style="display: none;" /></a>
<a href="javascript:void(0)"><img src="/img/carousel-v1/chambres-deluxes/chambres_deluxes_004-566x425.jpg" height="425" width="566" alt="" class="slider-233 slide-237" style="display: none;" /></a>
<a href="javascript:void(0)"><img src="/img/carousel-v1/chambres-deluxes/chambres_deluxes_003-566x425.jpg" height="425" width="566" alt="" class="slider-233 slide-236" style="display: none;" /></a>
        </div>

    </div>
    <script type="text/javascript">
        var metaslider_233 = function($) {
            $('#metaslider_233').coinslider({
                width:566,
                height:425,
                spw:7,
                sph:5,
                delay:3000,
                sDelay:30,
                opacity:"0",
                titleSpeed:500,
                animation:"random",
                showNavigationButtons:false,
                showNavigationPrevNext:true,
                hoverPause:true,
                prevText:"&lt;",
                nextText:"&gt;"
            });
        };
        var timer_metaslider_233 = function() {
            var slider = !window.jQuery ? window.setTimeout(timer_metaslider_233, 100) : !jQuery.isReady ? window.setTimeout(timer_metaslider_233, 1) : metaslider_233(window.jQuery);
        };
        timer_metaslider_233();
    </script>
</div>