<div style="max-width: 566px;" class="metaslider metaslider-coin metaslider-2001 ml-slider">

    <div id="metaslider_container_2001">
        <div id='metaslider_2001' class='coin-slider'>
<a href="javascript:void(0)"><img src="/img/carousel-v2/chambres-deluxes-I/chambres-deluxes-I_chambre-101-s-474.jpg" height="425" width="566" alt="" class="slider-2001 slide-256" style="display: none;" /></a>
<a href="javascript:void(0)"><img src="/img/carousel-v2/chambres-deluxes-I/chambres-deluxes-I_chambre-101-s-478.jpg" height="425" width="566" alt="" class="slider-2001 slide-256" style="display: none;" /></a>
<a href="javascript:void(0)"><img src="/img/carousel-v2/chambres-deluxes-I/chambres-deluxes-I_chambre-101-s-479.jpg" height="425" width="566" alt="" class="slider-2001 slide-256" style="display: none;" /></a>
<a href="javascript:void(0)"><img src="/img/carousel-v2/chambres-deluxes-I/chambres-deluxes-I_chambre-101-s-481.jpg" height="425" width="566" alt="" class="slider-2001 slide-256" style="display: none;" /></a>
<a href="javascript:void(0)"><img src="/img/carousel-v2/chambres-deluxes-I/chambres-deluxes-I_chambre-102-s-513.jpg" height="425" width="566" alt="" class="slider-2001 slide-256" style="display: none;" /></a>
<a href="javascript:void(0)"><img src="/img/carousel-v2/chambres-deluxes-I/chambres-deluxes-I_chambre-102-s-514.jpg" height="425" width="566" alt="" class="slider-2001 slide-256" style="display: none;" /></a>
        </div>

    </div>
    <script type="text/javascript">
        var metaslider_2001 = function($) {
            $('#metaslider_2001').coinslider({
                width:566,
                height:425,
                spw:7,
                sph:5,
                delay:3000,
                sDelay:30,
                opacity:"0",
                titleSpeed:500,
                animation:"random",
                showNavigationButtons:false,
                showNavigationPrevNext:true,
                hoverPause:true,
                prevText:"&lt;",
                nextText:"&gt;"
            });
        };
        var timer_metaslider_2001 = function() {
            var slider = !window.jQuery ? window.setTimeout(timer_metaslider_2001, 100) : !jQuery.isReady ? window.setTimeout(timer_metaslider_2001, 1) : metaslider_2001(window.jQuery);
        };
        timer_metaslider_2001();
    </script>
</div>