<div style="max-width: 566px;" class="metaslider metaslider-coin metaslider-2006 ml-slider">

    <div id="metaslider_container_2006">
        <div id='metaslider_2006' class='coin-slider'>
<a href="javascript:void(0)"><img src="/img/carousel-v2/jardins/photos-jardin-pousada-jda_Maracouja-416.jpg" height="425" width="566" alt="" class="slider-2006 slide-265" style="display: none;" /></a>
<a href="javascript:void(0)"><img src="/img/carousel-v2/jardins/photos-jardin-pousada-jda_devant-la-pousada_entree-s-029.jpg" height="425" width="566" alt="" class="slider-2006 slide-265" style="display: none;" /></a>
<a href="javascript:void(0)"><img src="/img/carousel-v2/jardins/photos-jardin-pousada-jda_devant-la-pousada_ext-s-392.jpg" height="425" width="566" alt="" class="slider-2006 slide-265" style="display: none;" /></a>
<a href="javascript:void(0)"><img src="/img/carousel-v2/jardins/photos-jardin-pousada-jda_devant-la-pousada_ext-s-398.jpg" height="425" width="566" alt="" class="slider-2006 slide-265" style="display: none;" /></a>
<a href="javascript:void(0)"><img src="/img/carousel-v2/jardins/photos-jardin-pousada-jda_entree-s-412.jpg" height="425" width="566" alt="" class="slider-2006 slide-265" style="display: none;" /></a>
<a href="javascript:void(0)"><img src="/img/carousel-v2/jardins/photos-jardin-pousada-jda_fleur-s-399.jpg" height="425" width="566" alt="" class="slider-2006 slide-265" style="display: none;" /></a>
<a href="javascript:void(0)"><img src="/img/carousel-v2/jardins/photos-jardin-pousada-jda_jardin-chambres-superieures-I.jpg" height="425" width="566" alt="" class="slider-2006 slide-265" style="display: none;" /></a>
<a href="javascript:void(0)"><img src="/img/carousel-v2/jardins/photos-jardin-pousada-jda_jardin-chambres-superieures-II.jpg" height="425" width="566" alt="" class="slider-2006 slide-265" style="display: none;" /></a>
<a href="javascript:void(0)"><img src="/img/carousel-v2/jardins/photos-jardin-pousada-jda_jardin-chambres-superieures-III.jpg" height="425" width="566" alt="" class="slider-2006 slide-265" style="display: none;" /></a>
<a href="javascript:void(0)"><img src="/img/carousel-v2/jardins/photos-jardin-pousada-jda_jardin-chambres-superieures-IV.jpg" height="425" width="566" alt="" class="slider-2006 slide-265" style="display: none;" /></a>
<a href="javascript:void(0)"><img src="/img/carousel-v2/jardins/photos-jardin-pousada-jda_jardin-chambres-superieures-V.jpg" height="425" width="566" alt="" class="slider-2006 slide-265" style="display: none;" /></a>
<a href="javascript:void(0)"><img src="/img/carousel-v2/jardins/photos-jardin-pousada-jda_jardin-chambres-superieures-VI.jpg" height="425" width="566" alt="" class="slider-2006 slide-265" style="display: none;" /></a>
<a href="javascript:void(0)"><img src="/img/carousel-v2/jardins/photos-jardin-pousada-jda_jardin-s-175.jpg" height="425" width="566" alt="" class="slider-2006 slide-265" style="display: none;" /></a>
<a href="javascript:void(0)"><img src="/img/carousel-v2/jardins/photos-jardin-pousada-jda_jardin-s-186.jpg" height="425" width="566" alt="" class="slider-2006 slide-265" style="display: none;" /></a>
<a href="javascript:void(0)"><img src="/img/carousel-v2/jardins/photos-jardin-pousada-jda_jardin-s-188.jpg" height="425" width="566" alt="" class="slider-2006 slide-265" style="display: none;" /></a>
<a href="javascript:void(0)"><img src="/img/carousel-v2/jardins/photos-jardin-pousada-jda_jardin-s-190.jpg" height="425" width="566" alt="" class="slider-2006 slide-265" style="display: none;" /></a>
<a href="javascript:void(0)"><img src="/img/carousel-v2/jardins/photos-jardin-pousada-jda_jardin-s-223.jpg" height="425" width="566" alt="" class="slider-2006 slide-265" style="display: none;" /></a>
<a href="javascript:void(0)"><img src="/img/carousel-v2/jardins/photos-jardin-pousada-jda_salon-s-538.jpg" height="425" width="566" alt="" class="slider-2006 slide-265" style="display: none;" /></a>
<a href="javascript:void(0)"><img src="/img/carousel-v2/jardins/photos-jardin-pousada-jda_salon-s-539.jpg" height="425" width="566" alt="" class="slider-2006 slide-265" style="display: none;" /></a>
        </div>

    </div>
    <script type="text/javascript">
        var metaslider_2006 = function($) {
            $('#metaslider_2006').coinslider({
                width:566,
                height:425,
                spw:7,
                sph:5,
                delay:3000,
                sDelay:30,
                opacity:"0",
                titleSpeed:500,
                animation:"random",
                showNavigationButtons:false,
                showNavigationPrevNext:true,
                hoverPause:true,
                prevText:"&lt;",
                nextText:"&gt;"
            });
        };
        var timer_metaslider_2006 = function() {
            var slider = !window.jQuery ? window.setTimeout(timer_metaslider_2006, 100) : !jQuery.isReady ? window.setTimeout(timer_metaslider_2006, 1) : metaslider_2006(window.jQuery);
        };
        timer_metaslider_2006();
    </script>
</div>
