<div class="liens">

<p>Diego &amp; Sonia, Abadiania infos<br />
<a target="_blank" href="http://www.abadianiaportal.com">www.abadianiaportal.com</a></p>

<p>Deb Court, Abadiania infos<br />
<a target="_blank" href="http://www.friendsofthecasa.info">www.friendsofthecasa.info</a></p>

<p>Barbara Brodsky, Casa guide<br />
<a target="_blank" href="http://www.vipassanahealing.com/">www.vipassanahealing.com</a></p>

<p>Deb Court, Casa guide<br />
<a target="_blank" href="http://www.guidetojohnofgod.com">www.guidetojohnofgod.com</a></p>

<p>Amy and Markus Koch — Guides for John of God<br />
<a target="_blank" href="http://www.guidesforjohnofgod.com/">www.guidesforjohnofgod.com</a></p>

<p>Hayette Weidmann, Casa guide<br />
<a target="_blank" href="http://pontsdelumiere.com">pontsdelumiere.com</a></p>

<p>Pavel Antonov, Photographe<br />
<a target="_blank" href="http://www.pavelantonov.com">www.pavelantonov.com</a></p>

<p>Dominique Guillaume, Photographe<br />
<a target="_blank" href="http://www.phototheque-bretagne.com/">www.phototheque-bretagne.com</a></p>

</div>