{{ partial "header.html" . }}

<article class="post-8 page type-page status-publish hentry">
	<header class="entry-header">
		<h1 class="entry-title"><br/>Pousada <i>Jardim dos Anjos</i><br/><br/></h1>
	</header><!-- .entry-header -->
	<div class="entry-content">


<p><a href="http://goo.gl/maps/i1L2U"><span class="domInacio">Uma caminhada de 8 minutos de La Casa de Dom Inácio</span></a></p>

<p>&nbsp;</p>

<div class="address" id="address">
	Avda. Belem Qd. 16 Lot 01, Bairro Lindo Horizonte<br />
	Abadiânia , Goias, Brasil, CEP 72940-000<br />
	+55 62 3343 1793<br />
	Skype: pousadajardimdosanjos3<br />
	Email: <a href="mailto:pousadajardimdosanjos@gmail.com">pousadajardimdosanjos@gmail.com</a><br />
	<a href="/">pousadajardimdosanjos.com</a><br />
	Google Maps : <a href="http://goo.gl/maps/aAvzR">http://goo.gl/maps/aAvzR</a><br />
	GPS : -16.18704°,-48.71°
</div>

<table style="border: none; height: 40px; margin: 0; padding: 0;">
<tbody>
<tr style="margin: 0; padding: 0; height: 40px;">
<td style="width: 50%; height: 40px; border: none; margin: 0; padding: 0 10px;"><a title="Pousada Jardim Dos Anjos sur Facebook" href="https://www.facebook.com/PousadaJardimDosAnjos" target="_blank"><br />
<img class="alignright" style="margin: 0; padding: 0;" alt="Facebook icon" src="./img/facebook.png" width="32" height="32" /><br />
</a></td>
<td style="width: 50%; height: 40px; border: none; margin: 0; padding: 0 10px;"><a title="Pousada Jardim Dos Anjos sur Google+" href="https://plus.google.com/u/0/103264884584390902995/posts" target="_blank"><br />
<img class="alignleft" style="margin: 0; padding: 0;" alt="Google+ icon" src="./img/googleplus.png" width="32" height="32" /><br />
</a></td>
</tr>
</tbody>
</table>

<p>&nbsp;</p>

<!-- meta slider -->
{{ partial "carousel-v1-accueil" . }}



	</div>
</article>

{{ partial "footer.html" . }}

